In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("flower.csv")
df

     retrieved gold_standard
0       setosa        setosa
1       setosa        setosa
2       setosa        setosa
3   versicolor    versicolor
4       setosa        setosa
5   versicolor    versicolor
6    virginica    versicolor
7       setosa        setosa
8       setosa        setosa
9       setosa        setosa
10   virginica     virginica
11  versicolor    versicolor
12  versicolor    versicolor
13      setosa        setosa
14   virginica     virginica
15  versicolor    versicolor
16      setosa        setosa
17  versicolor    versicolor
18      setosa        setosa
19      setosa        setosa
20      setosa        setosa
21   virginica     virginica
22   virginica     virginica
23  versicolor    versicolor
24  versicolor    versicolor
25      setosa        setosa
26   virginica     virginica
27  versicolor    versicolor
28  versicolor    versicolor
29   virginica     virginica
30      setosa        setosa
31  versicolor    versicolor
32      setosa        setosa
33   virginica    versicolor
34   virginica     virginica
35  versicolor    versicolor
36      setosa        setosa
37  versicolor    versicolor
38  versicolor    versicolor
39      setosa        setosa
40      setosa        setosa
41      setosa        setosa
42   virginica    versicolor
43  versicolor    versicolor
44   virginica    versicolor

In [10]:


df = df.rename(columns = {'gold_standard':'gold'})

df

     retrieved        gold
0       setosa      setosa
1       setosa      setosa
2       setosa      setosa
3   versicolor  versicolor
4       setosa      setosa
5   versicolor  versicolor
6    virginica  versicolor
7       setosa      setosa
8       setosa      setosa
9       setosa      setosa
10   virginica   virginica
11  versicolor  versicolor
12  versicolor  versicolor
13      setosa      setosa
14   virginica   virginica
15  versicolor  versicolor
16      setosa      setosa
17  versicolor  versicolor
18      setosa      setosa
19      setosa      setosa
20      setosa      setosa
21   virginica   virginica
22   virginica   virginica
23  versicolor  versicolor
24  versicolor  versicolor
25      setosa      setosa
26   virginica   virginica
27  versicolor  versicolor
28  versicolor  versicolor
29   virginica   virginica
30      setosa      setosa
31  versicolor  versicolor
32      setosa      setosa
33   virginica  versicolor
34   virginica   virginica
35  versicolor  versicolor
36      setosa      setosa
37  versicolor  versicolor
38  versicolor  versicolor
39      setosa      setosa
40      setosa      setosa
41      setosa      setosa
42   virginica  versicolor
43  versicolor  versicolor
44   virginica  versicolor

In [11]:
#precision 
#out of retrieved results , which fraction is relevant
#setosa
df.query('retrieved == "setosa" and gold=="setosa"').shape[0]/df.query('retrieved == "setosa" ').shape[0]

1.0

In [31]:
#virginica
df.query('retrieved == "virginica" and gold=="virginica"').shape[0]/df.query('retrieved == "virginica" ').shape[0]

0.6363636363636364

In [32]:
#versicolor
df.query('retrieved == "versicolor" and gold=="versicolor"').shape[0]/df.query('retrieved == "versicolor" ').shape[0]

1.0

In [33]:
#Recall
#out of all relevant results, which fraction is retrieved
#setosa
df.query('retrieved == "setosa" and gold=="setosa"').shape[0]/df.query('gold == "setosa" ').shape[0]

1.0

In [34]:
#virginica
df.query('retrieved == "virginica" and gold=="virginica"').shape[0]/df.query('gold == "virginica" ').shape[0]

1.0

In [35]:
#versicolor
df.query('retrieved == "versicolor" and gold=="versicolor"').shape[0]/df.query('gold == "versicolor" ').shape[0]

0.7894736842105263

In [38]:
retrieved = df.loc[:,'retrieved'].to_numpy()
retrieved

array(['setosa', 'setosa', 'setosa', 'versicolor', 'setosa', 'versicolor',
       'virginica', 'setosa', 'setosa', 'setosa', 'virginica',
       'versicolor', 'versicolor', 'setosa', 'virginica', 'versicolor',
       'setosa', 'versicolor', 'setosa', 'setosa', 'setosa', 'virginica',
       'virginica', 'versicolor', 'versicolor', 'setosa', 'virginica',
       'versicolor', 'versicolor', 'virginica', 'setosa', 'versicolor',
       'setosa', 'virginica', 'virginica', 'versicolor', 'setosa',
       'versicolor', 'versicolor', 'setosa', 'setosa', 'setosa',
       'virginica', 'versicolor', 'virginica'], dtype=object)

In [39]:
gold =df.loc[:,'gold'].to_numpy()
gold

array(['setosa', 'setosa', 'setosa', 'versicolor', 'setosa', 'versicolor',
       'versicolor', 'setosa', 'setosa', 'setosa', 'virginica',
       'versicolor', 'versicolor', 'setosa', 'virginica', 'versicolor',
       'setosa', 'versicolor', 'setosa', 'setosa', 'setosa', 'virginica',
       'virginica', 'versicolor', 'versicolor', 'setosa', 'virginica',
       'versicolor', 'versicolor', 'virginica', 'setosa', 'versicolor',
       'setosa', 'versicolor', 'virginica', 'versicolor', 'setosa',
       'versicolor', 'versicolor', 'setosa', 'setosa', 'setosa',
       'versicolor', 'versicolor', 'versicolor'], dtype=object)

In [58]:
def precisionrecallf(gold,retrieved):
    p_s = 0
    p_vir = 0
    p_ver = 0
    for a,b in zip(gold,retrieved):
        if(a==b):
            if(a=='setosa'):
                p_s+=1
            if(a=='virginica'):
                p_vir+=1
            if(a=='versicolor'):
                p_ver+=1
            
    pr_s = p_s/list(retrieved).count('setosa')
    pr_vir = p_vir/list(retrieved).count('virginica')
    pr_ver = p_ver/list(retrieved).count('versicolor')
    
    print("Precision is:")
    print(pr_s)
    print(pr_vir)
    print(pr_ver)
    
    r_s = p_s/list(gold).count('setosa')
    r_vir = p_vir/list(gold).count('virginica')
    r_ver = p_ver/list(gold).count('versicolor')
    
    print("Recall is:")
    print(r_s)
    print(r_vir)
    print(r_ver)
    
    f1_s = 2 * ((r_s * pr_s)/(r_s + pr_s))
    f1_vir = 2 * ((r_vir * pr_vir)/(r_vir + pr_vir))
    f1_ver = 2 * ((r_ver * pr_ver)/(r_ver + pr_ver))
    print("F1 score is:")
    print(f1_s)
    print(f1_vir)
    print(f1_ver)

In [59]:
precisionrecallf(gold,retrieved)

Precision is:
1.0
0.6363636363636364
1.0
Recall is:
1.0
1.0
0.7894736842105263
F1 score is:
1.0
0.7777777777777778
0.8823529411764706

In [63]:
def precision(gold,retrieved):
    p_s = 0
    p_vir = 0
    p_ver = 0
    for a,b in zip(gold,retrieved):
        if(a==b):
            if(a=='setosa'):
                p_s+=1
            if(a=='virginica'):
                p_vir+=1
            if(a=='versicolor'):
                p_ver+=1
            
    pr_s = p_s/list(retrieved).count('setosa')
    pr_vir = p_vir/list(retrieved).count('virginica')
    pr_ver = p_ver/list(retrieved).count('versicolor')
    
    print("Precision is:")
    print(pr_s)
    print(pr_vir)
    print(pr_ver)

In [64]:
def recall(gold,retrieved):
    p_s = 0
    p_vir = 0
    p_ver = 0
    for a,b in zip(gold,retrieved):
        if(a==b):
            if(a=='setosa'):
                p_s+=1
            if(a=='virginica'):
                p_vir+=1
            if(a=='versicolor'):
                p_ver+=1
            
    r_s = p_s/list(gold).count('setosa')
    r_vir = p_vir/list(gold).count('virginica')
    r_ver = p_ver/list(gold).count('versicolor')
    
    print("Recall is:")
    print(r_s)
    print(r_vir)
    print(r_ver)

In [65]:
def f1score(gold,retrieved):
    p_s = 0
    p_vir = 0
    p_ver = 0
    for a,b in zip(gold,retrieved):
        if(a==b):
            if(a=='setosa'):
                p_s+=1
            if(a=='virginica'):
                p_vir+=1
            if(a=='versicolor'):
                p_ver+=1
    f1_s = 2 * ((r_s * pr_s)/(r_s + pr_s))
    f1_vir = 2 * ((r_vir * pr_vir)/(r_vir + pr_vir))
    f1_ver = 2 * ((r_ver * pr_ver)/(r_ver + pr_ver))
    print("F1 score is:")
    print(f1_s)
    print(f1_vir)
    print(f1_ver)

In [68]:
def precision_k(gold,retrieved,k):
    retrieved_k = retrieved[:k]
    gold_k = gold[:k]
    
    return precision(gold_k,retrieved_k)

In [69]:
precision_k(gold,retrieved,10)

Precision is:
1.0
0.0
1.0

In [78]:
def recall_k(gold,retrieved,k):
    retrieved_k = retrieved[:k]
    gold_k = gold[:k]
    
    return recall(gold_k,retrieved_k)

In [79]:
recall_k(gold,retrieved,10)

ZeroDivisionError: division by zero

In [82]:
#accuracy is fraction of correct decisions
#make a confusion matrix first

def confusion_matrix(gold,retrieved):
    cm = np.zeros((3,3))
    
    for real,predicted in zip(gold,retrieved):
        if(predicted=='setosa'):
            if(predicted==real):
                cm[0][0]+=1
            elif(real=='virginica'):
                cm[0][1]+=1
            else:
                cm[0][2]+=1
        if(predicted=='virginica'):
            if(predicted==real):
                cm[1][1]+=1
            elif(real=='setosa'):
                cm[1][0]+=1
            else:
                cm[1][2]+=1
        if(predicted=='versicolor'):
            if(predicted==real):
                cm[2][2]+=1
            elif(real=='virginica'):
                cm[2][1]+=1
            else:
                cm[2][0]+=1
    
    return cm

In [83]:
confusion_matrix(gold,retrieved)

array([[19.,  0.,  0.],
       [ 0.,  7.,  4.],
       [ 0.,  0., 15.]])

In [86]:
def accuracy(gold,retrieved):
    cm = confusion_matrix(gold,retrieved)
    res = np.sum(np.diag(cm))/np.sum(cm)
    return res

In [87]:
accuracy(gold,retrieved)

0.9111111111111111

In [92]:
#mean average precision
#calculate average precision of each query
#then find mean of all of them

def mean_average_precision(gold,retrieved):
    p_s = []
    p_vir = []
    p_ver = []
    i = 1
    p_setosa = 0
    p_virginica = 0
    p_versicolor = 0
    
    for a,b in zip(gold,retrieved):
        if(a==b):
            if(a=='setosa'):
                p_setosa += 1
                p_s.append(p_setosa/i)
            if(a=='virginica'):
                p_virginica +=1 
                p_vir.append(p_virginica/i)
            if(a=='versicolor'):
                p_versicolor +=1
                p_ver.append(p_versicolor/i)
        i+=1
            
    avg_p_s = sum(p_s)/len(p_s)
    avg_p_vir = sum(p_vir)/len(p_vir)
    avg_p_ver = sum(p_ver)/len(p_ver)
    
    return((avg_p_s + avg_p_vir + avg_p_ver)/3)

In [93]:
mean_average_precision(gold,retrieved)

0.36480689573390496

AttributeError: module 'numpy' has no attribute 'twos'

In [16]:
#fallout
df.query('retrieved=="virginica" and retrieved != gold ').shape[0]/df.query('retrieved != gold').shape[0]

1.0