In [2]:
import pandas as pd
import numpy as np


D1 = "vaccine research corona virus research"
D2 = "research research cancer vaccine vaccine"
D3 = "virus virus corona vaccine lab"
D4 = "cancer lab research lab"

corpus=[D1,D2,D3,D4]
word_bag= set(D1.split()+D2.split()+D3.split()+D4.split())

In [26]:
#term frequency
def term_frequency(word_bag, corpus):
    lis = []
    for word in word_bag:
        for match in corpus:
            m = match.count(word)
            lis.append(m)
    lis2 = []
   
    for i in range(0,len(corpus)):
         lis2.append(lis[i::len(corpus)])
    lis2 = np.array(lis2)
    lis2 = lis2.transpose()
    return(pd.DataFrame(lis2,index = word_bag, columns = corpus))

In [33]:
df = term_frequency(sorted(word_bag), corpus)
df.columns = ['D1','D2','D3','D4']
df

          D1  D2  D3  D4
cancer     0   1   0   1
corona     1   0   1   0
lab        0   0   1   2
research   2   2   0   1
vaccine    1   2   1   0
virus      1   0   2   0

In [34]:
len_corpus = len(D1.split()+D2.split()+D3.split()+D4.split())
len_corpus

19

In [35]:
#P_Mc(t)
df['P_Mc(t)'] = df.sum(axis=1)/19
df

          D1  D2  D3  D4   P_Mc(t)
cancer     0   1   0   1  0.105263
corona     1   0   1   0  0.105263
lab        0   0   1   2  0.157895
research   2   2   0   1  0.263158
vaccine    1   2   1   0  0.210526
virus      1   0   2   0  0.157895

In [36]:
#PMd(t)
df['PMd1(t)'] = df['D1']/(len(D1.split()))
df['PMd2(t)'] = df['D2']/(len(D2.split()))
df['PMd3(t)'] = df['D3']/(len(D3.split()))
df['PMd4(t)'] = df['D4']/(len(D4.split()))
df

          D1  D2  D3  D4   P_Mc(t)  PMd1(t)  PMd2(t)  PMd3(t)  PMd4(t)
cancer     0   1   0   1  0.105263      0.0      0.2      0.0     0.25
corona     1   0   1   0  0.105263      0.2      0.0      0.2     0.00
lab        0   0   1   2  0.157895      0.0      0.0      0.2     0.50
research   2   2   0   1  0.263158      0.4      0.4      0.0     0.25
vaccine    1   2   1   0  0.210526      0.2      0.4      0.2     0.00
virus      1   0   2   0  0.157895      0.2      0.0      0.4     0.00

In [47]:
#Query 1 Model 1
q = "vaccine vaccine research cancer"
p =1
t=1
r=1
s=1
for i in q.split():
    p = p * df['PMd1(t)'][i]
    t = t * df['PMd2(t)'][i]
    r = r * df['PMd3(t)'][i]
    s = s * df['PMd4(t)'][i]
l = [p,t,r,s]
print(l)
print(sorted(l, reverse = True))

[0.0, 0.012800000000000004, 0.0, 0.0]
[0.012800000000000004, 0.0, 0.0, 0.0]

In [38]:
#Query 1 Model 2
q = "vaccine vaccine research cancer"
lam = 0.5
u = 1
v = 1
w = 1
x = 1
for i in q.split():
    u = u *((lam*df['PMd1(t)'][i]) + ((1-lam)*(df['P_Mc(t)'][i])))
    v = v *((lam*df['PMd2(t)'][i]) + ((1-lam)*(df['P_Mc(t)'][i])))
    w = w *((lam*df['PMd3(t)'][i]) + ((1-lam)*(df['P_Mc(t)'][i])))
    x = x *((lam*df['PMd4(t)'][i]) + ((1-lam)*(df['P_Mc(t)'][i])))
lis = [round(u,4),round(v,4),round(w,4),round(x,4)]
print(lis)
print(sorted(lis, reverse = True))

[0.0007, 0.0047, 0.0003, 0.0005]
[0.0047, 0.0007, 0.0005, 0.0003]

In [39]:
#Query 2 Model 1
q2 = "vaccine research"
p =1
t=1
r=1
s=1
for i in q2.split():
    p = p * df['PMd1(t)'][i]
    t = t * df['PMd2(t)'][i]
    r = r * df['PMd3(t)'][i]
    s = s * df['PMd4(t)'][i]
l = [p,t,r,s]
print(l)
print(sorted(l, reverse = True))
print(round(p,2))

[0.08000000000000002, 0.16000000000000003, 0.0, 0.0]
[0.16000000000000003, 0.08000000000000002, 0.0, 0.0]
0.08

In [40]:
#Query 2 Model 2
q2 = "vaccine research"
lam = 0.5
u = 1
v = 1
w = 1
x = 1
for i in q2.split():
    u = u *((lam*df['PMd1(t)'][i]) + ((1-lam)*(df['P_Mc(t)'][i])))
    v = v *((lam*df['PMd2(t)'][i]) + ((1-lam)*(df['P_Mc(t)'][i])))
    w = w *((lam*df['PMd3(t)'][i]) + ((1-lam)*(df['P_Mc(t)'][i])))
    x = x *((lam*df['PMd4(t)'][i]) + ((1-lam)*(df['P_Mc(t)'][i])))
lis = [round(u,4),round(v,4),round(w,4),round(x,4)]
print(lis)
print(sorted(lis))
print(sorted(lis, reverse = True))

[0.0681, 0.1012, 0.027, 0.027]
[0.027, 0.027, 0.0681, 0.1012]
[0.1012, 0.0681, 0.027, 0.027]

In [11]:
#D2 is highest ranked

In [46]:
#Bigram model

𝑞0 =  "the weather forecast in Koblenz"
𝑞1 =  "next week weather forecast"
𝑞2 = "the weather tomorrow"
𝑞3 = "weather forecast Amsterdam"
𝑞4 = "the weather tomorrow in"
corp = [q0,q1,q2,q3,q4]

q = "the weather"


words = set(q0.split()+q1.split()+q2.split()+q3.split()+q4.split())
print(words)

l = []
for i in corp:
    c = i.count("weather")
    l.append(c)
print(sum(l))

l2 = []
for i in words:
    q0_c = q0.count("weather "+i)
    q1_c = q1.count("weather "+i)
    q2_c = q2.count("weather "+i)
    q3_c = q3.count("weather "+i)
    q4_c = q4.count("weather "+i)
    l2.append(q0_c+q1_c+q2_c+q3_c+q4_c)
print(l2)

l3 = []
for j in l2:
    m = j/5
    l3.append(m)
print(sorted(l3,reverse=True))

{'the', 'tomorrow', 'weather', 'Koblenz', 'week', 'next', 'Amsterdam', 'forecast', 'in'}
5
[0, 2, 0, 0, 0, 0, 0, 3, 0]
[0.6, 0.4, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

In [45]:
#Trigram model

𝑞0 =  "the weather forecast in Koblenz"
𝑞1 =  "next week weather forecast"
𝑞2 = "the weather tomorrow"
𝑞3 = "weather forecast Amsterdam"
𝑞4 = "the weather tomorrow in"
corp = [q0,q1,q2,q3,q4]

q = "the weather"


words = set(q0.split()+q1.split()+q2.split()+q3.split()+q4.split())
print(words)

l = []
for i in corp:
    c = i.count("the weather")
    l.append(c)
s = sum(l)
print(s)

l2 = []
for i in words:
    q0_c = q0.count("the weather "+i)
    q1_c = q1.count("the weather "+i)
    q2_c = q2.count("the weather "+i)
    q3_c = q3.count("the weather "+i)
    q4_c = q4.count("the weather "+i)
    l2.append(q0_c+q1_c+q2_c+q3_c+q4_c)
print(l2)

l3 = []
for j in l2:
    if j==0:
        l3.append(0)
    else:
        m = j/s
        l3.append(round(m,4))
print(sorted(l3,reverse=True))

{'the', 'tomorrow', 'weather', 'Koblenz', 'week', 'next', 'Amsterdam', 'forecast', 'in'}
3
[0, 2, 0, 0, 0, 0, 0, 1, 0]
[0.6667, 0.3333, 0, 0, 0, 0, 0, 0, 0]